NODE_ENV=development
MONGODB_URI=mongodb://localhost:27017/cep-crawler
QUEUE_URL=http://localhost:9324
QUEUE_NAME=cep-queue
VIA_CEP_BASE_URL=https://viacep.com.br/ws
RATE_LIMIT_REQUESTS_PER_SECOND=3
WORKER_CONCURRENCY=2
MAX_RETRIES=3
